<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cycloid</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,900" rel="stylesheet">
        <link rel='stylesheet' type = "text/css" href='/css/app.css'>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><i class="fas fa-circle-notch"></i>  Cycloid</a>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    
                    <% if(userLoggedIn){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"> Logout <span class="sr-only">(current)</span></a>
                        </li>
                    <% } %>
                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container firstDiv">

    
        <div class="card">
            <div class="card-header">
                <%=employer.company%>
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <a href=<%=employer.website%>>Company Website</a>
                <p class="card-text">
                    <span class="cardTextTitle">About <%=employer.company%>:</span>
                </p>
                <p class="card-text">
                    <%=employer.aboutCo%>
                </p>
                <p class="card-text">
                    <span class="cardTextTitle">Size:</span> <%=employer.size%>
                </p>
                <p class="card-text">
                    <span class="cardTextTitle">Type of Organization:</span> <%=employer.type%>
                </p>
                <p class="card-text">
                    <span class="cardTextTitle">Founded:</span> <%=employer.found%>    
                </p>
                <p class="card-text">
                    <span class="cardTextTitle">Geographic Reach:</span> <%=employer.geographicReach%>
                </p>
                <a href=<%="/company/employer/"+employer._id+"/edit"%> class="btn btn-primary">Edit Employer Info</a>
            </div>
        </div>
        <a href="/company/roles" class="btn btn-primary">Go back</a>
    </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>