<%- include partials/header.ejs%>




        <div class="container firstDiv">
            <h1>Roles</h1>
            <div class="row">
                <%roles.forEach((role) => {%>
                    <%if(typeof role.company === "undefined"){%>
                        return;
                    <%}%>
                    
                    <div class="col-md-3">
                        <div class="card border-primary">
                            <div class="card-header">
                                <%=role.roleTitle%>
                            </div>
                            <div class="card-body text-primary">
                                <h5 class="card-title"><%=role.company.company%></h5>
                                <p class="card-text">
                                    Trade Category: <%=role.majorTradeArea%>
                                </p>
                                <p class="card-text">
                                    Location: <%=role.location%>
                                </p>
                                <p class="card-text">
                                    Trade: <%=role.tradeName%> 
                                </p>
                            </div>
                            
                            <a class="btn btn-primary btn-sm" role='button' href=<%="/trainer/roles/"+role._id%>>View Role</a>
                            <!-- <button class="btn btn-primary btn-sm saveRoleButton" role='button' data-id="someVal" id="someIdName">Save</button> -->
                        </div>
                    </div>
                <%})%>
                    
            </div>
        </div>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/trainer-home.js" type="module"></script>
    </body>
</html>